<!DOCTYPE html>
<html>
<head>
    <title>ProphitBet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>ProphitBet</h1>
    </header>
    <nav>
        {% include 'menu.html' %}
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- Add footer content here, if needed -->
    </footer>
</body>
</html>
